.button {
  background: #457d59;
  color: #f9f9fb;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  padding: 14px 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #335b43;
  color: #fff;
}
