.card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 32px;
  margin: 16px 0;
  display: flex;
  gap: 64px;
  height: 300px;
}

.card img {
  height: 100%;
  object-fit: contain;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  gap: 16px;
  height: 100% !important;
}

.producent {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #8c8c8c;
}

.opis {
  color: #3c3c3c;
  white-space: pre-wrap;
}

.cenalbl {
  margin: auto 0 32px 0;
}

.cenalbl .cena {
  color: #f5841f;
  font-weight: 600;
  font-size: 32px;
}

@media (max-width: 900px) {
  .card img {
    height: auto;
    max-width: 50%;
    object-fit: contain;
  }

  .cardInfo {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .card {
    flex-wrap: wrap;
    height: fit-content;
  }

  .card img {
    margin: auto;
  }

  .cardInfo {
    width: 100%;
  }
}
