@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
body {
  background: #f9f9fb;
  color: #31393c;
}
.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #f5841f;
}
.map {
  margin-top: 2rem;
  width: 500px;
  height: 400px;
  object-fit: cover;
  border: 4px solid #f9f9fb;
  z-index: 1;
  top: 0;
  left: 0;
  position: relative;
}
.map iframe,
.map img {
  z-index: 99;
  position: absolute;
}
.orange {
  background-color: #f5841f;
  width: 200px;
  height: 100px;
  z-index: 0;
  position: absolute;
}
.orangeTop {
  top: -4px;
  left: -4px;
}
.orangeBottom {
  bottom: -10px;
  right: -12px;
}
.page {
  max-width: 1400px;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .sectionText {
  margin-top: 1.5rem;
}
.page p {
  width: 600px;
}
.page p b {
  float: right;
}
.line {
  height: 4px;
  width: 150px;
  display: flex;
  background: #31393c;
  margin-bottom: 1rem;
}
.line-orange {
  width: 33%;
  height: 100%;
  background: #f5841f;
}
.line-green {
  width: 33%;
  height: 100%;
  background: #62a87c;
}
@media (max-width: 1400px) {
  .page {
    max-width: 1100px;
    gap: 2rem;
  }
}
@media (max-width: 1200px) {
  .page {
    max-width: 90%;
    width: 100%;
    margin: 2rem auto;
    flex-direction: column;
  }
  .page .text,
  .page p {
    width: 100%;
  }
}
._nav_1khei_1 {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._nav_1khei_1 div {
  display: flex;
  gap: 2rem;
}
._link_1khei_29 {
  font-weight: 500;
  color: #31393c;
  padding: 0.25rem 0.75rem;
}
._link_1khei_29:hover {
  color: #477e5b;
}
._active_1khei_49 {
  font-weight: 600;
  color: #477e5b;
  border-bottom: 2px solid #477e5b;
}
@media (max-width: 1400px) {
  ._nav_1khei_1 {
    max-width: 90%;
  }
}
footer {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
footer > div {
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
._facebook_eet87_27 {
  transition: all 0.3s;
  cursor: pointer;
}
._facebook_eet87_27:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}
._card_eet87_45 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 32px;
}
._card_eet87_45 h1 {
  font-weight: 700;
  font-size: 20px;
}
._card_eet87_45 p {
  color: #777;
  font-style: italic;
}
h2 {
  font-weight: 600;
  font-size: 14px;
}
._hours_eet87_89 > div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
._hours_eet87_89 ._hour_eet87_89 {
  font-weight: 600;
}
._contact_eet87_109,
._hours_eet87_89,
._visitCard_eet87_113 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._contact_eet87_109 a {
  color: #f5841f;
}
._copyright_eet87_133 {
  font-size: 10px;
  text-align: center;
  margin: 16px auto;
}
@media (max-width: 1000px) {
  footer {
    max-width: 900px;
    width: 90%;
    margin: auto;
  }
  ._card_eet87_45 {
    width: 100%;
    justify-content: flex-start;
  }
  ._hours_eet87_89 > div {
    width: 100%;
  }
  ._contact_eet87_109,
  ._hours_eet87_89,
  ._visitCard_eet87_113,
  footer > div {
    flex-direction: column;
  }
  ._contact_eet87_109,
  ._hours_eet87_89,
  ._visitCard_eet87_113 {
    padding-bottom: 2rem;
  }
}
._banner_1x9us_1 {
  width: 100%;
  background: #31393c;
}
._bannerBox_1x9us_11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 1400px;
  height: 350px;
  margin: 10rem auto;
}
._bannerText_1x9us_31 {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
}
._localBanner_1x9us_47 {
  width: 500px;
  min-height: 60%;
}
._bannerText_1x9us_31 h1 {
  font-size: 20px;
  font-weight: 700;
}
._bannerText_1x9us_31 p {
  font-size: 24px;
  margin: 1rem 0;
  white-space: pre;
}
._bannerText_1x9us_31 ._smallText_1x9us_79 {
  font-size: 12px;
}
._bannerBox_1x9us_11 ._img_1x9us_87 {
  position: relative;
  width: 500px;
  height: 400px;
}
._bannerBox_1x9us_11 img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border: 4px solid #f9f9fb;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}
._orange_1x9us_123 {
  background-color: #f5841f;
  width: 200px;
  height: 100px;
  z-index: 0;
  position: absolute;
}
._orangeTop_1x9us_139 {
  top: -4px;
  left: -4px;
}
._orangeBottom_1x9us_149 {
  bottom: -12px;
  right: -12px;
}
._galleryDot_1x9us_159 {
  background: #f9f9fb;
  border: 2px solid #f9f9fb;
  width: 8px;
  height: 8px;
  border-radius: 360px;
  cursor: pointer;
  transition: all 0.3s;
}
._galleryDot_1x9us_159:hover {
  transform: scale(1.1);
  filter: opacity(70%);
}
._actual_1x9us_189 {
  background: #62a87c;
  border: 2px solid #62a87c;
}
._dots_1x9us_199 {
  display: flex;
  gap: 12px;
}
@media (max-width: 1500px) {
  ._bannerBox_1x9us_11 {
    width: 1000px;
  }
  ._localBanner_1x9us_47 {
    width: 250px;
  }
  ._bannerText_1x9us_31 {
    max-width: 400px;
    margin: 2rem;
  }
  ._bannerText_1x9us_31 p {
    max-width: 400px;
    white-space: wrap;
  }
}
@media (max-width: 1000px) {
  ._bannerBox_1x9us_11 {
    margin-top: 4rem;
    width: 90%;
    padding: 4rem 0;
    height: fit-content;
    max-height: 1000px;
    flex-direction: column;
  }
  ._localBanner_1x9us_47 {
    width: 500px;
  }
  ._bannerText_1x9us_31 {
    width: 90%;
  }
  ._bannerText_1x9us_31 p {
    max-width: 100%;
    white-space: wrap;
  }
}
._button_1i3ll_1 {
  background: #62a87c;
  color: #f9f9fb;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  padding: 14px 24px;
  cursor: pointer;
  transition: all 0.3s;
}
._button_1i3ll_1:hover {
  background: #58946e;
}
._offer_13ouv_1 {
  max-width: 1400px;
  margin: auto;
  gap: 42px;
  display: flex;
  flex-direction: column;
}
._offer_13ouv_1 > div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
  width: 1400px;
  margin: 4px auto;
}
._offer_13ouv_1 > h1 {
  font-size: 20px;
  font-weight: 600;
}
._tile_13ouv_43 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  width: 300px;
  height: 250px;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  white-space: pre;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;
}
._tile_13ouv_43 img {
  width: 72px;
}
@media (max-width: 1600px) {
  ._offer_13ouv_1 {
    max-width: fit-content;
    margin: auto;
  }
  ._offer_13ouv_1 > div {
    width: 100%;
  }
  ._tile_13ouv_43 {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 1000px) {
  ._offer_13ouv_1 {
    width: 90%;
  }
  ._offer_13ouv_1 > div {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 4rem;
    width: 100%;
    margin: 4px;
  }
}
