.banner {
  width: 100%;
  background: #31393c;
}

.bannerFlex {
  width: 100%;
  height: 100%;
  position: relative;
}

.bannerFlex button {
  position: absolute;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 0 1rem;
  color: #fff;
  transition: all 0.3s;
}

.bannerFlex button:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bannerFlex .nextbtn {
  right: 0;
}

.bannerFlex .prevbtn {
  left: 0;
}

.bannerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 1400px;
  min-height: 350px;
  margin: 0 auto;
}

.bannerText {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
}

.localBanner {
  width: 500px;
  min-height: 60%;
}

.bannerText h1 {
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
}

.bannerText p {
  font-size: 24px;
  margin: 1rem 0;
  white-space: pre-wrap;
  max-width: 600px;
}

.bannerText .smallText {
  font-size: 12px;
}

.bannerBox .img {
  position: relative;
  width: 500px;
  height: 400px;
}

.bannerBox img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border: 4px solid #f9f9fb;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background: #31393c;
}

.bannerMessage {
  max-width: 100vw;
  background-color: #358151;
}

.bannerMessage div {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1416px;
  height: 100%;
  margin: 2rem auto 0 auto;
  color: #fff;
  padding: 0.25rem 1rem;
}

.bannerMessage i {
  height: 24px;
}

.bannerMessage h2 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-wrap-mode: wrap;
}

.orange {
  background-color: #f5841f;
  width: 200px;
  height: 100px;
  z-index: 0;
  position: absolute;
}

.orangeTop {
  clip-path: polygon(0 0, 100% 0, 100% 9%, 4% 8%, 4% 100%, 0 100%);
  top: -4px;
  left: -4px;
}

.orangeBottom {
  clip-path: polygon(96% 0, 100% 0, 100% 100%, 0 100%, 0 92%, 96% 93%);
  bottom: -12px;
  right: -12px;
}

.galleryDot {
  background: #f9f9fb;
  border: 2px solid #f9f9fb;
  width: 8px;
  height: 8px;
  border-radius: 360px;
  cursor: pointer;
  transition: all 0.3s;
}

.galleryDot:hover {
  transform: scale(1.1);
  filter: opacity(70%);
}

.actual {
  background: #62a87c;
  border: 2px solid #62a87c;
}

.dots {
  display: flex;
  gap: 12px;
}

@media (max-width: 1500px) {
  .bannerBox {
    width: 1000px;
  }

  .localBanner {
    width: 250px;
  }

  .bannerText {
    max-width: 400px;
    margin: 2rem;
  }

  .bannerText p {
    max-width: 400px;
    white-space: wrap;
  }
}

@media (max-width: 1000px) {
  .bannerBox {
    width: 90%;
    padding: 1rem 0;
    height: fit-content;
    flex-direction: column;
  }

  .localBanner {
    width: 500px;
  }

  .bannerText {
    width: 90%;
  }

  .bannerText p {
    max-width: 100%;
    white-space: pre-wrap;
  }
}

@media (max-width: 600px) {
  .bannerBox .img {
    width: 90%;
    height: 300px;
    margin: auto;
  }
  .bannerBox img {
    width: 100%;
    height: 100%;
  }

  .bannerFlex button {
    position: absolute;
    height: 72px;
    width: 32px;
    top: auto;
    bottom: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0;
    color: #fff;
    z-index: 9999;
  }
}
